body {
    font-family: ff-tisa-sans-web-pro, sans-serif;
    --black: #0e0e0e;
    --lgrey: #7a94a4;
    --grey: #897224;
    --white: #f8f8ff;
    background-color: #fafafa;
}

a.white {
    color: var(--white);
}

span.white {
    color: var(--white);
}

a {
    color: #0f0f26;
}

.bg-blue {
    background-color: var(--black) !important;
}

.bg-grey {
    background-color: var(--lgrey) !important;
}

.main {
    padding-top: 4px;
}

.placeholders {
    margin-bottom: 30px;
    text-align: center;
}

.placeholders h4 {
    margin-bottom: 0;
}

.placeholder {
    margin-bottom: 20px;
}

.placeholder img {
    border-radius: 50%;
    display: inline-block;
}

.smlogo {
    background: none;
    display: inline-block;
}

#map {
    height: 700px;
}

.mycluster {
    width: 35px;
    height: 35px;
    text-align: left;
    font-size: 17px;
    background: url('/node_modules/leaflet/dist/images/marker-icon-2x.png') repeat-y right bottom;
    background-size: 25px 37px;
}

.icon {
    color: red;
}

.tablesorter-pager .btn-group-sm .btn {
    font-size: 1.2em; /* make pager arrows more visible */
}

.tablesorter-filter-row td {
    background-color: #eee;
    line-height: normal;
    text-align: center; /* center the input */
    -webkit-transition: line-height 0.1s ease;
    -moz-transition: line-height 0.1s ease;
    -o-transition: line-height 0.1s ease;
    transition: line-height 0.1s ease;
}

.tablesorter-filter-row .disabled {
    opacity: 0.5;
    filter: alpha(opacity=50);
    cursor: not-allowed;
}

.tablesorter-filter-row.hideme td {
    /*** *********************************************** ***/
    /*** change this padding to modify the thickness     ***/
    /*** of the closed filter row (height = padding x 2) ***/
    padding: 1px;
    /*** *********************************************** ***/
    margin: 0;
    line-height: 0;
    cursor: pointer;
}

.tablesorter-filter-row.hideme * {
    height: 1px;
    min-height: 0;
    border: 0;
    padding: 0;
    margin: 0;
    /* don't use visibility: hidden because it disables tabbing */
    opacity: 0;
    filter: alpha(opacity=0);
}

/* filters */
.tablesorter-filter {
    width: 98%;
    height: inherit;
    margin: 1px;
    padding: 1px;
    background-color: #fff;
    border: 1px solid #bbb;
    color: #333;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: height 0.1s ease;
    -moz-transition: height 0.1s ease;
    -o-transition: height 0.1s ease;
    transition: height 0.1s ease;
}

.pagination {
    display: inline-block;
    color: black;
    float: left;
    padding: 2px 8px;
    margin: 0 4px;
    text-decoration: none;
    transition: background-color .3s;
    border: 1px solid #ddd;
    cursor: pointer;
}

.pagination.disabled {
    color: #f0f0f0;
}

.pagedisplay {
    display: inline-block;
    color: black;
    float: left;
    padding: 4px 0px !important;
    text-decoration: none;
    transition: background-color .3s;
    cursor: pointer;
}

.tablesorter-header {
    background-size: 10px 15px !important;
    background-color: var(--grey) !important;
    color: #fff;
}

.columnSelectorWrapper {
    position: relative;
    display: none;
}

.columnSelector, .hidden {
    display: none;
}

#colSelect1:checked ~ #columnSelector {
    display: block;
}

.columnSelector {
    width: 290px;
    position: absolute;
    top: 40px;
    padding: 10px;
    background: #fff;
    border: #000 1px solid;
    border-radius: 5px;
    z-index: 1400;
    right: 1px;
}

.columnSelector label {
    display: inline-flex;
}

.columnSelector label:nth-child(1) {
    border: #000 solid 1px;
}

.columnSelector input {
    margin: 5px;
}

.columnSelector .disabled {
    color: #ddd;
}

.loadingtable {
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    position: fixed;
    margin: 0;
    padding: 0;
    z-index: 1500;
}

.spin {
    top: 4%;
    left: 2%;
    position: absolute;
}

.loadingmessage {
    left: 1%;
    position: absolute;
    top: 10%;
    color: #000;
}

.tooltip { pointer-events: none; }

.navbar {
    background: linear-gradient(to right, #897224 13%, #684412 45%, #562D0D 60%, #2B1500 100%);
}

footer {
    background-color: #2B1500;
}

.url {
    max-width: 99%;
    text-overflow: ellipsis;
    overflow: hidden;
    display: inline-block;
    white-space: nowrap;
}

.bigwrapper:hover .fa-ani a{
    color: dodgerblue;
    -moz-filter: blur(1px);
    -webkit-filter: blur(1px);
    filter: blur(1px);
    transition: all .2s ease-in-out;
}
.bigwrapper .fa-ani a{
    color: red;
    transition: all .2s ease-in-out;
    transition-delay: .1s;
    font-size: 4em;
}

.bigwrapper{
    text-align: center;
    color: black;
}

.bignone{
    text-align: center;
    color: black;
}

.smallwrapper:hover .fa-ani a {
    color: dodgerblue;
    -moz-filter: blur(1px);
    -webkit-filter: blur(1px);
    filter: blur(1px);
    transition: all .2s ease-in;
}

.smallwrapper .fa-ani a {
    color: red;
    transition: all .2s ease-in-out;
    transition-delay: .1s;
    font-size: 2.1em;
}

.smallwrapper {
    text-align: center;
    color: black;
}

.smallnone {
    text-align: center;
    color: black;
}

.iconselected a {
    color: dodgerblue;
}

.iconnotselected a {
    color: black;
}

.icon1 {
    font-size: 1.4em;
    opacity: 0.7;
}

.accordion-button {
    background-color: #897224 !important;
}

.accordion-button:focus {
    box-shadow: none;
}

.accordion-button:not(.collapsed) {
    color: #212529;
}